// ORDER IN A BLOCK:
// 1. SHAPE/COLOR: height/width/border/background-color/
// 2. POSITION: position/transform/margin
// 3. DISPLAY: flex/grid/justify-content/...
// 4. FONT: font-size/text-align/...
// 5. ANIMATION

// COLOR-VARIABLES
$bgColor: #3D3D3D;
$bgColorDark: #212121;
$bgColorBlack: #141414;

$bgColorSemiBlack: #2d2d2d;



$mainYellow: #C09F63;


// SIZE-VARIABLES
$standardHeight: 3.3vw;
$standardSectionHeight: calc(42vw + 30px);

$standardPaddingLeft: 8vw;
$standardWordSpacing: 0.2em;
$standardLineHeight: 2em;

$headerHeightPC: calc(6vw + 6px);
$headerHeightMobile: 3vw;

$intro1Height: calc(30vw + 50px);
$intro1Width: 65vw;
$intro1TextWidth: 28vw;

$intro1ImgTop: calc(52vw + 100px);
$intro1ImgWidth: 57vw;
$intro1ImgHeight: calc(35vw + 100px);

$intro2Width: 25vw;
$intro2TextWidth: $intro1Width - $standardPaddingLeft;

$infoImgHeight: calc(30vw + 100px);

$othersImgWidth: 26.5vw;
$othersBodyWidth: 100vw - 2*$standardPaddingLeft;


// FONT_SIZE

$fontSubHeading: 1.4vw;
$fontDisplaySubHeading: 1.5vw;

$fontHeading: 2.7vw;
$fontHeading2: 3.3vw;

$fontTextHeader: calc(0.6vw + 4px);
$fontText: calc(0.7vw + 4px);



// FONT-MIXIN
@mixin fontBold($color, $size) {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: $size;
  color: $color;
}

@mixin fontSemiBold($color, $size) {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: $size;
  color: $color;
}

@mixin fontRegular($color, $size) {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: $size;
  color: $color;
}

@mixin fontDisplay($color, $size) {
  font-family: 'Yeseva One', sans-serif;
  font-weight: 300;
  font-size: $size;
  color: $color;
}

// GENERAL 
html, body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

a, button {
  cursor: pointer;
  text-decoration: none;
  color: inherit
}

a:active, button:active {
  outline: none;
}

@media only screen and (min-width: 800px) { // for pc
  
  .header {
    height: $headerHeightPC;
    width: 100%;

    background-color: $bgColor;

    position: absolute;    
    left: 0px;
    top: 0px;
    
    display: flex;
    justify-content: space-between;

    text-transform: uppercase;
  }

  // HEADER logo
  .header-logo {
    height: $headerHeightPC;
    width: 8vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-logo img {
    height: 60%;
    width: auto;
  }

  // HEADER nav
  .header-navigation {
    height: $headerHeightPC;
    width: 80vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  .header-navigation a {
    height: $headerHeightPC;
    @include fontRegular(white, $fontTextHeader);

    display: flex;
    align-items: center;
  }


  // HEADER languages

  .header-languages {
    height: $headerHeightPC;
    width: 8vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .header-languages div {
    @include fontRegular(white, $fontTextHeader)
  }


  // HOME 
  .home {
    width: 100%;
    height: 45vw;

    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .home-logo img {
    height: $standardHeight*1.2;
  }

  .home-title {
    @include fontDisplay(white, $fontHeading);
    text-transform: uppercase;
  }
  .home-link {
    margin-top: $standardHeight;
    margin-bottom: $standardHeight;
    @include fontBold(white, $fontTextHeader);
    text-transform: uppercase;
  }
  
  // INTRO
  .intro-1 {
    min-height: 100vh;
    width: 100vw;
    // max-width: 100vw;

  }
  .intro-1-upper {
    height: $intro1Height;
    width: $intro1Width;

    background-color: $bgColorSemiBlack;
  }

  .intro-1-upper-bg {
    height: $intro1Height;
    width: $intro1Width;

    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: flex-end;
  }

  .intro-1-upper-text-con {
    width: $intro1TextWidth;

    margin-bottom: $standardPaddingLeft/2;
    margin-left: $standardPaddingLeft;
  }

  .sub-title {
    @include fontBold(transparent, $fontSubHeading);
    background: -webkit-linear-gradient(200deg, #A5864F -6%, #EFCA87 55%, #A0814A 105%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .intro-1-title {
    margin-top: $standardHeight/4;
    margin-bottom: $standardHeight;

    @include fontDisplay(white, $fontHeading);
  }

  .intro-1-upper-text {
    position: relative;
    z-index: 1;
    margin-top: $standardHeight;

    @include fontSemiBold(white, $fontText);
    text-align: justify;
    line-height: $standardLineHeight;
    word-spacing: $standardWordSpacing;
  }
  .intro-1-pattern img {
    width: $intro1Width*2/13;
    opacity: 0.35;
  }
  .intro-1-pattern {
    position: absolute;
    z-index: 0; 
  }

  // intro 1 lower part

  .intro-1-lower {
    margin-left: $standardPaddingLeft;
  }

  .intro-1-lower-text {
    width: $intro1TextWidth;
    margin-top: $standardPaddingLeft/2;

    @include fontRegular(black, $fontText);
    text-align: justify;
    line-height: $standardLineHeight;
    word-spacing: $standardWordSpacing;
  }

  .intro-1-img-page .page-bar {
    background-color: black;
  }

  .intro-1-lower-img {
    width: $intro1ImgWidth;
    height: $intro1ImgHeight;

    background-image: url('../img/intro1.png');
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    right: 0vw;
    top: $intro1ImgTop;
  }
  // INTRO 2
  .intro-2 {
    width: 100%;
    margin-top: $standardPaddingLeft;

    display: flex;
  }

  .intro-2-left {
    margin-left: $standardPaddingLeft;
  }

  .intro-2-text-con {
    width: $intro2TextWidth;
    display: flex;
    justify-content: space-between;
  }

  .intro-2-text-con .bar-vertical {
    width: 1.2vw;
  }

  .intro-2-title {
    margin-top: $standardHeight/6;
    margin-bottom: $standardHeight;

    @include fontDisplay(black, $fontHeading2);
  }

  .intro-2-text {
    margin-left: $standardHeight/2;
    
    @include fontRegular(black, $fontText);
    text-align: justify;
    line-height: $standardLineHeight;
    word-spacing: $standardWordSpacing;
  }

  // Intro 2 right
  .intro-2-right {    
    height: $standardSectionHeight;
    width: $intro2Width;

    background-color: $bgColorSemiBlack;

    position: absolute;
    right: 0;
    
  }
  .intro-2-bg {
    height: $standardSectionHeight;
    width: $intro2Width;

    background-image: url(../img/bg.png);
    background-position-x: center;

    display: flex;
    justify-content: flex-end;
  }

  .intro-2-bg img {
    height: $standardSectionHeight;
    opacity: 0.35;
  }

  // intro 2 pattern

  .intro-2-pattern img {
    width: $intro1TextWidth/1.3;
    margin-top: - $standardHeight;
    margin-left: -$standardPaddingLeft;

    position: relative;
    z-index: -1;

    opacity: 0.35;
  }

  // intro 2 image
  .intro-2-img {
    position: absolute;
    margin-top: $standardPaddingLeft*2.5;
    left: $standardPaddingLeft*2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .intro-2-img img {
    width: $intro1Width;

  }

  .intro-2-img-footer {
    width: 100%;

    position: absolute;

    display: flex;
    justify-content: space-between;
  }

  .intro-2-img-footer-title {
    margin-left: $standardHeight/2;
    margin-bottom: $standardHeight/2;

    @include fontDisplay(transparent, $fontSubHeading);
    background: -webkit-linear-gradient(200deg, rgb(165, 140, 98) -6%, rgb(243, 220, 178) 55%, rgb(167, 141, 97) 105%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .intro-2-img-page {
    margin-right: $standardHeight/2;
    margin-bottom: $standardHeight/2;

    @include fontRegular(white, $fontText);
  }
  .intro-2-img-page .page-bar {
    background-color: white;
  }


  // Info

  .info {
    height: $standardSectionHeight;
    width: 100vw;

    background-color: $bgColorSemiBlack;
    
    position: relative;
    z-index: -1;
  }

  .info-bg {
    height: $standardSectionHeight;
    width: 100vw;

    position: relative;
    z-index: 0;

    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

    display: flex;
    align-items: flex-end;
  }

  .info-header {
    width: 100%;
    top: - $standardHeight*3;

    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-bar {
    margin-top: - $standardPaddingLeft/4
  }

  // Info's body

  .info-body {
    height: $infoImgHeight;
    width: 100vw;

    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
  }
  
  .info-img {
    height: $infoImgHeight;
    width: 65%;

    background-image: url(../img/info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
  }

  .info-text {
    width: 25%;
    margin-left: $standardPaddingLeft/3;
    margin-right: $standardPaddingLeft;

    position: relative;

    @include fontRegular(white, $fontText);
    word-spacing: $standardWordSpacing;
    line-height: $standardLineHeight*0.8;
  }

  .info-link {
    position: relative;
    z-index: 4;

    font-size: $fontTextHeader !important;
    letter-spacing: 0em !important;
  }

  // Other Projects (others)
  .others {
    margin-top: $standardPaddingLeft;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .others-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .others-header .bar-vertical {
    height: $standardHeight*1.4
  }

  .others-body {
    width: $othersBodyWidth;

    display: flex;
    justify-content: space-between;
  }

  .others-body .others-body-block img {
    width: $othersImgWidth;
    margin-bottom: $standardPaddingLeft/7;
  }

  .others-body-block-title {
    margin-bottom: $standardPaddingLeft*0.05;

    @include fontDisplay(transparent, $fontDisplaySubHeading);
    background: -webkit-linear-gradient(200deg, #A5864F -6%, #EFCA87 55%, #A0814A 105%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .others-body-block-sub-title {
    margin-bottom: $standardPaddingLeft/7;

    @include fontSemiBold(black, $fontText);
    text-transform: uppercase;
  }

  .others-body-block-description {
    @include fontRegular(gray, $fontTextHeader);
  }

  // others - footer
  .others-footer {
    margin-top: $standardHeight;
    display: flex;
  }

  .others-footer .button-side-bar {
    width: 0.1vw;
    height: $standardHeight*0.8;

    background-color: $mainYellow;
  }

  .others-footer-link {
    width: $standardHeight*3;
    height: $standardHeight*0.8;
    border: none;
    background: linear-gradient(269.67deg, #A5864F -6.17%, #EFCA87 53.9%, #A0814A 103.47%);

    margin-left: $standardHeight*0.1;
    margin-right: $standardHeight*0.1;

    display: flex;
    justify-content: center;
    align-items: center;

    @include fontBold(white, $fontTextHeader)
  }

  // SERVICE
  .service {
    width: 100%;
    margin-top: $standardPaddingLeft
  }

  .service-body {
    display: flex;
  }
  .service-body .service-body-block {
    width: calc(100vw / 3);
    height: $standardPaddingLeft*3.5;

    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .service-body-title {
    margin-bottom : $standardHeight/6;

    @include fontBold(white, $fontText);

    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .service-body-link {
    margin-bottom : $standardHeight/1.5;

    @include fontBold(transparent, $fontTextHeader);

    background: -webkit-linear-gradient(200deg, #A5864F -6%, #EFCA87 55%, #A0814A 105%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  // FOOTER
  .footer {
    height: $standardSectionHeight;

    margin-top: $standardPaddingLeft;

    display: grid;
    grid-template-columns: 32vw 58vw 10vw;
  }

  .footer-left {
    background-color: $bgColor;
  }

  .footer-middle {
    background-color: $bgColorDark;
  }

  .footer-right {
    background-color: $bgColorBlack;
  }

  // COMPONENTS

  // img page numbers
  .img-page {
    display: flex;
    align-items: center;
  }

  .img-page div {
    margin-right: 1em;
  }

  .img-page .page-bar {
    height: $standardWordSpacing;
    width: $standardHeight;    
  }

  
  // BAR
  .bar-horizontal {
    width: 15vw;
    height: 0.3vw;
    background-color: $mainYellow;
  }

  .bar-vertical {
    width: 0.35vw;
    height: 17vw;
    background-color: $mainYellow;
  }
}





@media only screen and (max-width: 800px) { // smartphone and ipad, tablet

  // handle landscape rotate
  @media (min-aspect-ratio: 3/2) {
    .header {
      width: 100vw;
      height: $headerHeightMobile;
      background-color: #000000;

      position: absolute;
      left: 0px;
      top: 0px;
    }
    
  }

  // handle vertical rotate
  @media (max-aspect-ratio: 3/2) {
    .header {
      width: 100vw;
      height: $headerHeightMobile;
      background-color: #000000;

      position: absolute;
      left: 0px;
      top: 0px;
    
    }
  }

}




